<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reem.smartbudget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.reem.smartbudget.smartbudgetui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.reem.smartbudget.smartbudgetui.HomeActivity" >
        </activity>
        <activity android:name="com.reem.smartbudget.smartbudgetui.ReminderAddActivity" >
        </activity>
        <activity android:name="com.reem.smartbudget.smartbudgetui.ExpenseTransactionAddActivity" >
        </activity>
        <activity android:name="com.reem.smartbudget.smartbudgetui.ExpenseTransactionListActivity" >
        </activity>
        <activity android:name="com.reem.smartbudget.smartbudgetui.BudgetAddActivity" >
        </activity>

        <provider
            android:name="com.reem.smartbudget.smartbudgetcontent.ProviderBudget"
            android:authorities="com.reem.smartbudget.smartbudgetcontent.ProviderBudget"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.reem.smartbudget.smartbudgetcontent.ProviderExpenseTransaction"
            android:authorities="com.reem.smartbudget.smartbudgetcontent.ProviderExpenseTransaction"
            android:exported="false" >
        </provider>

        <receiver android:name="com.reem.smartbudget.AlarmReceiver" >
        </receiver>
    </application>

</manifest>